<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">Grow your muscles with us</p>
      <div class="row">
        {{! Left Side }}
        <div class="col-md-6 col-12 her-text">
          <figure>
            <img
              class="img-fluid"
              src="images/about.jpg"
              alt="fitness background"
            />
          </figure>
        </div>
        {{! Right Side }}
        <div
          class="col-md-6 col-12 hero-text justify-content-center align-items-start flex-column"
        >
          <h1>WE HAVE THE PROFESSIONAL TRAINER</h1>
          <p>Welcome To
            <span class="bold-style">White Diamond Gym. </span>Your Number One
            Source For All Fitness. We're Dedicated To Giving You The Very Best
            Training To Your Body, With A Focus On Three Characteristics
            [Fitness, Strength, & Cardio]</p>
          <button class="btn btn-style btn-primary">Read More</button>
        </div>

      </div>
    </div>
  </div>
</div>