<!-- Gallery -->
<div class="container-fluid mt-5 about-style" id="galleryid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Gallery</h1>
      <p class="text-center sub-heading">Some glimpse of training</p>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?cs=srgb&dl=pexels-anush-gorak-1229356.jpg&fm=jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Lifting Dumbell"
          />

          <img
            src="https://images.pexels.com/photos/1552106/pexels-photo-1552106.jpeg?cs=srgb&dl=pexels-leon-ardho-1552106.jpg&fm=jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Weight Lift Squat"
          />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://images.pexels.com/photos/1638324/pexels-photo-1638324.jpeg?cs=srgb&dl=pexels-sabel-blanco-1638324.jpg&fm=jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Lady With Dumbell"
          />

          <img
            src="https://images.pexels.com/photos/896058/pexels-photo-896058.jpeg?cs=srgb&dl=pexels-dreamlens-production-896058.jpg&fm=jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Biceps Exercise"
          />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://images.pexels.com/photos/5327511/pexels-photo-5327511.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-5327511.jpg&fm=jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Back Workout"
          />

          <img
            src="https://images.pexels.com/photos/2827400/pexels-photo-2827400.jpeg?auto=compress&cs=tinysrgb&w=800"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Playing With Gym Ball"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gallery -->