<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">Best servies in the market</p>
      <div class="row">
        {{!-- Cards --}}
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="settings" />
            </div>
                <h4>Training Varieties</h4>
                <p>specialized fitness instructors and knowledgeable coaches.</p>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="speedup" />
            </div>
                <h4>High-Quality Equipments</h4>
                <p>cutting-edge machines [dumbbells, weight machines, kettlebells, squat racks, and cardio equipment].</p>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="https://i.imgur.com/AgyneKA.png" alt="privacy" />
            </div>
                <h4>Thriving Community</h4>
                <p>Encourage member involvement, host social activities, and promote group exercise.</p>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="https://i.imgur.com/vdH9LKi.png" alt="backups" />
            </div>
                <h4>Well-Designed Space</h4>
                <p>Clean, well-maintained, and space is large enough to allow for social distancing.</p>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="https://i.imgur.com/v6OnUqu.png" alt="ssl" />
            </div>
                <h4>Amenities and Privileges</h4>
                <p>focus on creating social areas that encourage human connection and nurture the fitness community.</p>
              </div>
            </div>
          </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="https://i.imgur.com/VzjZw9M.png" alt="database" />
            </div>
                <h4>Overall Value</h4>
                <p>Friendly staff, knowledgeable trainers, and high-quality equipment all add to the overall value.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>